## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

## Visual Studio
.vs/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Docker local volumes (لو عندك)
**/docker-data/
**/volumes/

## Secrets
.env
appsettings.*.local.json
appsettings.*.Development.json
